@model RolesEditModel
<div class="form-group">
    @Html.LabelForModel(new { @class = "control-label col-sm-2" })
    <div class="col-sm-10">
        @if (ViewBag.IsReadonly ?? false)
        {
            @Html.HiddenFor(m => m)
            <p class="form-control-static">@Model.RoleIds.FirstOrDefault()</p>
        }
        else
        {
            @Html.ListBoxFor(m => m.RoleIds, Model.AllRoles, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.RoleIds)
        }
    </div>
</div>
