@model GameResultsEditModel
@{
    var title = $"Game Result - {Model.GameDate.ToString(Consts.DateFormatDisplay)}";
    ViewBag.Title = title;
}
<div class="row header">
    <div class="hidden-xs col-sm-4                 col-md-3 col-md-offset-2 col-lg-2 col-lg-offset-3">@Html.LabelFor(m => m.RoadTeam)</div>
    <div class="hidden-xs col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-2 col-lg-2 col-lg-offset-2">@Html.LabelFor(m => m.HomeTeam)</div>
</div>
<div class="row header">
    <div class="col-xs-12 col-sm-4               col-md-3 col-md-offset-2 col-lg-2 col-lg-offset-3">@Model.RoadTeam.FullName</div>
    <div class="col-xs-12 col-sm-4 col-sm-push-4 col-md-3 col-md-push-2   col-lg-2 col-lg-push-2"><span class="visible-xs-inline">@@ </span>@Model.HomeTeam.FullName</div>
    <div class="col-xs-12 col-sm-4 col-sm-pull-4 col-md-2 col-md-pull-3   col-lg-2 col-lg-pull-2">@Model.GameDate.ToString(Consts.GameDateTimeFormat)</div>
</div>
@Html.DisplayFor(m => m.ResultReports)
@Html.EditorFor(m => m.NewReport, new {NoteOnly = Model.IsFinalized})
