@model GameResultsEditModel
@{
    var title = $"Game Result - {Model.GameDate.ToString(Consts.DateFormatDisplay)}";
    ViewBag.Title = title;
}
<table class="table table-centered-headings">
    <thead>
        <tr>
            <th>@Html.LabelFor(m => m.RoadTeam)</th>
            <th>@@</th>
            <th>@Html.LabelFor(m => m.HomeTeam)</th>
        </tr>
        <tr>
            <th>@Model.RoadTeam.FullName</th>
            <th>@Model.GameDate.ToString(Consts.DateTimeFormatDisplay)</th>
            <th>@Model.HomeTeam.FullName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model.ResultReports)
        {
            <tr>
                <td>@report.RoadTeamScore</td>
                <td>@report.GameStatus</td>
                <td>@report.HomeTeamScore</td>
            </tr>
        }
    </tbody>
</table>
@Html.EditorFor(m => m.NewReport)
