@model GameResultsListModel
@{
    var title = $"Manage Game Results{(Model.KeepsStats ? " and Statistics" : "")}";
    ViewBag.Title = $"{title} for {Model.Team.FullName}{Model.Team.Year.AsTitleSuffix()}";
}
<div class="btn-group pull-right">
    @Html.EditorFor(m => m.Team)
    @Html.Partial("_YearPartial", Model.Team)
</div>
<h2>@title</h2>
@Html.Partial("_AdminListTable", new AdminListTableModel { ListItemName = "Game" })
<p>* - Pending Confirmation</p>

@section scripts
{
    <script>
        var columns = [
            { 'data': 'GameParticipantId', 'title': '@Html.DisplayNameFor(m => m.GameParticipantId)', 'visible':   false },
            { 'data': 'GameDate',          'title': '@Html.DisplayNameFor(m => m.GameDate)',                                'render': renderDate },
            { 'data': 'Opponent',          'title': '@Html.DisplayNameFor(m => m.Opponent)' },
            { 'data': 'Outcome',           'title': '@Html.DisplayNameFor(m => m.Outcome)' },
            { 'data': 'UrlsForActions',                                                               'orderable': false,   'render': renderGameResultsLinks }
        ];

        datatable_RenderList({
            'tableSelector': '.admin-list',
            'dataUrl': '@Url.Action("Data", new {id = Model.Team.TeamId, year = Model.Team.Year})',
            'columns': columns,
            'sorting': false,
            'paging': false,
            'order': [[findColumnIndex(columns, 'GameDate'), 'asc']]
        });
    </script>
}
