@model CoachEditModel
@{
    const string title = "Manage Coaches";
    ViewBag.Title = title;
}
<h2>@title</h2>
@Html.Partial("_AdminListTable", new AdminListTableModel { ListItemName = "Coach", CreateItemUrl = Url.Action("Create") })

@section scripts
{
    <script>
        var columns = [
            { 'data': 'CoachId',                 'title': '@Html.DisplayNameFor(m => m.CoachId)',                 'visible':   false },
            { 'data': 'FirstName',               'title': '@Html.DisplayNameFor(m => m.FirstName)' },
            { 'data': 'LastName',                'title': '@Html.DisplayNameFor(m => m.LastName)' },
            { 'data': 'PhoneNumbers',            'title': '@Html.DisplayNameFor(m => m.PhoneNumbers)',                                  'render': '[<br />].PhoneNumber' },
            { 'data': 'EmailAddress',            'title': '@Html.DisplayNameFor(m => m.EmailAddress)' },
            { 'data': 'Comments',                'title': '@Html.DisplayNameFor(m => m.Comments)',                                      'render': renderPartialContent },
            { 'data': 'AuditDetails.CreatedBy',  'title': '@Html.DisplayNameFor(m => m.AuditDetails.CreatedBy)',  'visible':   false },
            { 'data': 'AuditDetails.Created',    'title': '@Html.DisplayNameFor(m => m.AuditDetails.Created)',    'visible':   false,   'render': renderDate },
            { 'data': 'AuditDetails.ModifiedBy', 'title': '@Html.DisplayNameFor(m => m.AuditDetails.ModifiedBy)', 'visible':   false },
            { 'data': 'AuditDetails.Modified',   'title': '@Html.DisplayNameFor(m => m.AuditDetails.Modified)',   'visible':   false,   'render': renderDate },
            { 'data': 'EditUrl',                                                                                  'orderable': false,   'render': renderEditLink }
        ];

        datatable_RenderList({
            'tableSelector': '.admin-list',
            'dataUrl': '@Url.Action("Data")',
            'columns': columns,
            'sorting': true,
            'paging': true,
            'order': [[findColumnIndex(columns, 'LastName'), 'asc'], [findColumnIndex(columns, 'FirstName'), 'asc']]
        });
    </script>
}
