@model ChurchEditModel
@{
    var title = (Model.ChurchId == 0 ? "Create" : "Edit") + " Church";
    ViewBag.Title = title;
}
<div class="well">
    <form asp-controller="Church" asp-action="Edit" method="post" class="form-horizontal form-with-validation">
        @Html.HiddenFor(m => m.ChurchId)

        <fieldset>
            <legend>@title</legend>
            @Html.EditorFor(m => m.FullName)
            @Html.EditorFor(m => m.DisplayName)
            @Html.EditorFor(m => m.Address)
            @Html.EditorFor(m => m.PhoneNumbers)
            @Html.EditorFor(m => m.EmailAddress)
            @Html.EditorFor(m => m.Website)
            @Html.EditorFor(m => m.Information)
            <partial name="_FormCancelSubmit" model="Model" />
        </fieldset>
    </form>
</div>
