@model ChurchEditModel
@{
    const string title = "Manage Churches";
    ViewBag.Title = title;
}
<h2>@title</h2>
<partial name="_AdminListTable" model='new AdminListTableModel { ListItemName = "Church", CreateItemUrl = Url.Action("Create") }' />

@section scripts
{
    <script>
        var columns = [
            { 'data': 'ChurchId',                'title': '@Html.DisplayNameFor(m => m.ChurchId)',                'visible':   false,                             'searchable': false },
            { 'data': 'FullName',                'title': '@Html.DisplayNameFor(m => m.FullName)' },
            { 'data': 'DisplayName',             'title': '@Html.DisplayNameFor(m => m.DisplayName)' },
            { 'data': 'PhoneNumbers',            'title': '@Html.DisplayNameFor(m => m.PhoneNumbers)',                                  'render': '[<br />].PhoneNumber' },
            { 'data': 'Website',                 'title': '@Html.DisplayNameFor(m => m.Website)' },
            { 'data': 'Information',             'title': '@Html.DisplayNameFor(m => m.Information)',                                   'render': renderPartialContent },
            { 'data': 'Teams',                   'title': '@Html.DisplayNameFor(m => m.Teams)',                                         'render': '[<br />]' },
            { 'data': 'AuditDetails.CreatedBy',  'title': '@Html.DisplayNameFor(m => m.AuditDetails.CreatedBy)',  'visible':   false,                             'searchable': false },
            { 'data': 'AuditDetails.Created',    'title': '@Html.DisplayNameFor(m => m.AuditDetails.Created)',    'visible':   false,   'render': renderDate,     'searchable': false },
            { 'data': 'AuditDetails.ModifiedBy', 'title': '@Html.DisplayNameFor(m => m.AuditDetails.ModifiedBy)', 'visible':   false,                             'searchable': false },
            { 'data': 'AuditDetails.Modified',   'title': '@Html.DisplayNameFor(m => m.AuditDetails.Modified)',   'visible':   false,   'render': renderDate,     'searchable': false },
            { 'data': 'UrlForEdit',                                                                               'orderable': false,   'render': renderEditLink, 'searchable': false }
        ];

        datatable_RenderList({
            'dataUrl': '@Url.Action("Data")',
            'columns': columns,
            'sorting': true,
            'paging': true,
            'searching': true,
            'order': [[findColumnIndex(columns, 'FullName'), 'asc']]
        });
    </script>
}
