@model ScheduleGameEditModel
<div class="col-lg-3 col-md-4 col-sm-6 grid4321">
    <div class="schedule-game schedule-edit">
        <div class="container-fluid game-header">
            <div class="row">
                <div class="col-xs-12 schedule-game-cell">
                    @Model.GameDate.ToString("t")
                    <div style="float: right">
                        @if (!Model.Entered)
                        {
                            <button type="button" class="btn btn-info btn-xs" title="Rained Out">
                                <span class="glyphicon glyphicon-cloud"></span>
                            </button>
                            <button type="button" class="btn btn-info btn-xs" title="Postponed">
                                <span class="glyphicon glyphicon-hourglass"></span>
                            </button>
                            <button type="button" class="btn btn-info btn-xs" title="Forfeit">
                                <span class="glyphicon glyphicon-flag"></span>
                            </button>
                        }
                        <a href="@Url.Action("Edit", "Game", new {id = Model.GameId, returnUrl = Request.RawUrl})" class="btn btn-info btn-xs" title="Edit">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid game-body">
            @if (!Model.Entered)
            {
                @Html.HiddenFor(m => m.GameId)
                @Html.HiddenFor(m => m.GameDate)
            }
            @Html.EditorFor(m => m.RoadTeam, new {IsReadonly = Model.Entered})
            @Html.EditorFor(m => m.HomeTeam, new {IsReadonly = Model.Entered})
        </div>
    </div>
</div>
