@model PageContentEditModel
@{
    var title = Model.PageContentId == 0 ? "Create Content Item" : "Edit " + Model.Title;
    ViewBag.Title = title;
}
<div class="well">
    @using (Html.BeginForm("Edit", "ContentItem", FormMethod.Post, new {@class = "form-horizontal form-with-validation"}))
    {
        @Html.HiddenFor(m => m.PageContentId)

        <fieldset>
            <legend>@title</legend>
            @Html.EditorFor(m => m.PageTag)
            @Html.EditorFor(m => m.Title)
            @Html.EditorFor(m => m.Content)
            <partial name="_FormCancelSubmit" model="Model" />
        </fieldset>
    }
</div>
