@model PageContentEditModel
@{
    const string title = "Manage Content";
    ViewBag.Title = title;
}
<h2>@title</h2>
@Html.Partial("_AdminListTable", new AdminListTableModel {ListItemName = "Content", CreateItemUrl = Url.Action("Create")})

@section scripts
{
    <script>
        var columns = [
            { 'title': '@Html.DisplayNameFor(m => m.PageContentId)', 'data': 'PageContentId' },
            { 'title': '@Html.DisplayNameFor(m => m.PageTag)',       'data': 'PageTag' },
            { 'title': '@Html.DisplayNameFor(m => m.Title)',         'data': 'Title' },
            { 'title': '@Html.DisplayNameFor(m => m.Content)',       'data': 'Content',      'render': renderPartialContent },
            { 'title': '@Html.DisplayNameFor(m => m.AuditDetails)',  'data': 'AuditDetails', 'render': renderAuditData },
            { 'title': '@Html.DisplayNameFor(m => m.EditUrl)',       'data': 'EditUrl',      'render': renderEditLink }
        ];

        datatable_RenderList({
            'tableSelector': '.admin-list-table',
            'dataUrl': '@Url.Action("Data")',
            'columns': columns,
            'sorting': false,
            'paging': false
        });
    </script>
}
