@model PageContentEditModel
@{
    const string title = "Manage Content";
    ViewBag.Title = title;
}
<h2>@title</h2>
@Html.Partial("_AdminListTable", new AdminListTableModel {ListItemName = "Content", CreateItemUrl = Url.Action("Create")})

@section scripts
{
    <script>
        var columns = [
            { 'data': 'PageContentId',           'title': '@Html.DisplayNameFor(m => m.PageContentId)',           'visible': false },
            { 'data': 'PageTag',                 'title': '@Html.DisplayNameFor(m => m.PageTag)' },
            { 'data': 'Title',                   'title': '@Html.DisplayNameFor(m => m.Title)' },
            { 'data': 'Content',                 'title': '@Html.DisplayNameFor(m => m.Content)',                                   'render': renderPartialContent },
            { 'data': 'AuditDetails.CreatedBy',  'title': '@Html.DisplayNameFor(m => m.AuditDetails.CreatedBy)',  'visible': false },
            { 'data': 'AuditDetails.Created',    'title': '@Html.DisplayNameFor(m => m.AuditDetails.Created)',    'visible': false, 'render': renderDate},
            { 'data': 'AuditDetails.ModifiedBy', 'title': '@Html.DisplayNameFor(m => m.AuditDetails.ModifiedBy)', 'visible': false },
            { 'data': 'AuditDetails.Modified',   'title': '@Html.DisplayNameFor(m => m.AuditDetails.Modified)',   'visible': false, 'render': renderDate},
            { 'data': 'EditUrl',                                                                                                    'render': renderEditLink }
        ];

        datatable_RenderList({
            'tableSelector': '.admin-list',
            'dataUrl': '@Url.Action("Data")',
            'columns': columns,
            'sorting': false,
            'paging': false
        });
    </script>
}
