@model NewsEditModel
@{
    var title = (Model.NewsItemId == 0 ? "Create" : "Edit") + " News Item";
    ViewBag.Title = title;
}
<div class="well">
    @using (Html.BeginForm("Edit", "News", FormMethod.Post, new {@class = "form-horizontal form-with-validation"}))
    {
        @Html.HiddenFor(m => m.NewsItemId)

        <fieldset>
            <legend>@title</legend>
            @(Model.Team.Teams.Count == 1
                  ? Html.HiddenFor(m => m.Team.TeamId)
                  : Html.EditorFor(m => m.Team))
            @Html.EditorFor(m => m.IsActive)
            @Html.EditorFor(m => m.StartDate)
            @Html.EditorFor(m => m.EndDate)
            @Html.EditorFor(m => m.Subject)
            @Html.EditorFor(m => m.Content)
            <partial name="_FormCancelSubmit" model="Model" />
        </fieldset>
    }
</div>
