@model TeamEditModel
@{
    var title = (Model.TeamId == 0 ? "Create" : "Edit") + " Team";
    ViewBag.Title = title;
}
<div class="well">
    @using (Html.BeginForm("Edit", "Team", FormMethod.Post, new { @class = "form-horizontal form-with-validation" }))
    {
        <fieldset>
            <legend>@title</legend>
            @Html.EditorFor(m => m.Church)
            @Html.EditorFor(m => m.TeamName)
            @Html.EditorFor(m => m.Division)
            @Html.EditorFor(m => m.HeadCoach)
            @Html.EditorFor(m => m.KeepsStats)
            @Html.EditorFor(m => m.HasPaid)
            @Html.EditorFor(m => m.Clinch)
            @Html.EditorFor(m => m.FieldInformation, new { IsReadonly = Model.YearModel.Year != Consts.CurrentYear })
            @Html.EditorFor(m => m.Comments, new { IsReadonly = Model.YearModel.Year != Consts.CurrentYear })
            @Html.Partial("_FormCancelSubmit", Model)
        </fieldset>
    }
</div>
