@model TeamEditModel
@{
    const string title = "Manage Teams";
    ViewBag.Title = title + Model.YearModel.Year.AsTitleSuffix();
}
<partial name="_YearPartial" for="YearModel" />
<h2>@title</h2>
@using (Html.BeginForm())
{
    @Html.Hidden("Year", Model.YearModel.Year)
    <partial name="_AdminListTable" model='new AdminListTableModel { ListItemName = "Team", CreateItemUrl = Url.Action("Create") }' />
    <input type="submit" value="Save Changes" />
}

@section scripts
{
    <script>
        var divisionSelect;
        var clinchSelect;
        $.post('@Url.Action("ListDropdownData", new { year = Model.YearModel.Year })', function (data) {
            var html = $($.parseHTML(data))
            divisionSelect = html.filter('#Division_DivisionYearId');//.prop('outerHTML');
            clinchSelect = html.filter('#Clinch_ClinchChar');//.prop('outerHTML');
        });

        dtRowKey = 'TeamYearId';

        var columns = [
            { 'data': 'TeamId',                  'title': '@Html.DisplayNameFor(m => m.TeamId)',                  'visible':   false },
            { 'data': 'Conference',              'title': '@Html.DisplayNameFor(m => m.Conference)',                                    'render': renderConfDiv },
            { 'data': 'Division',                'title': '@Html.DisplayNameFor(m => m.Division)',                                      'render': renderDivDropdown },
            { 'data': 'FullName',                'title': '@Html.DisplayNameFor(m => m.FullName)' },
            { 'data': 'HeadCoach',               'title': '@Html.DisplayNameFor(m => m.HeadCoach)',                                     'render': {'_': 'FullName', 'sort': 'SortableName'} },
            { 'data': 'HasPaid',                 'title': '@Html.DisplayNameFor(m => m.HasPaid)',                                       'render': renderBoolCheckbox },
            { 'data': 'KeepsStats',              'title': '@Html.DisplayNameFor(m => m.KeepsStats)',                                    'render': renderBoolCheckbox },
            { 'data': 'Clinch',                  'title': '@Html.DisplayNameFor(m => m.Clinch)',                                        'render': renderClinchDropdown },
            { 'data': 'FieldInformation',        'title': '@Html.DisplayNameFor(m => m.FieldInformation)',        'visible':   false,   'render': renderPartialContent },
            { 'data': 'Comments',                'title': '@Html.DisplayNameFor(m => m.Comments)',                'visible':   false,   'render': renderPartialContent },
            { 'data': 'AuditDetails.CreatedBy',  'title': '@Html.DisplayNameFor(m => m.AuditDetails.CreatedBy)',  'visible':   false },
            { 'data': 'AuditDetails.Created',    'title': '@Html.DisplayNameFor(m => m.AuditDetails.Created)',    'visible':   false,   'render': renderDate },
            { 'data': 'AuditDetails.ModifiedBy', 'title': '@Html.DisplayNameFor(m => m.AuditDetails.ModifiedBy)', 'visible':   false },
            { 'data': 'AuditDetails.Modified',   'title': '@Html.DisplayNameFor(m => m.AuditDetails.Modified)',   'visible':   false,   'render': renderDate },
            { 'data': 'UrlForEdit',                                                                               'orderable': false,   'render': renderEditLinkWithHiddenId }
        ];

        datatable_RenderList({
            'dataUrl': '@Url.Action("Data", new {year = Model.YearModel.Year})',
            'columns': columns,
            'sorting': true,
            'paging': false,
            'order': [
                [findColumnIndex(columns, 'Conference'), 'asc'],
                [findColumnIndex(columns, 'Division'), 'asc'],
                [findColumnIndex(columns, 'FullName'), 'asc']
            ]
        });
    </script>
}
