@model ScheduleModel
@{
    const string title = "Schedule";
    ViewBag.Title = string.Format("{0} for {1}", title, Model.Date.ToString(Consts.DateFormat));
}
<div class="dropdown pull-right" style="margin-top: 20px;">
    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 1.7em; padding: 0 10px;">
        @Model.Date.ToString(Consts.DateFormat)
        <span class="caret"></span>
    </button>
    <div id="calendarContent" class="dropdown-menu">
    </div>
</div>
<h2>@title</h2>
@foreach (var conference in Model.ConferenceModels)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            @conference.Label Games
        </div>
        <div class="panel-body">
            <div class="row">
                @foreach (var game in conference.Games)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 grid4321">
                        <div class="schedule-game">
                            <div class="container-fluid game-header">
                                @Html.Partial("_ScheduleGameRow", new ScheduleGameRowModel
                                                                  {
                                                                      RowClasses = "row",
                                                                      DisplayScores = game.IsComplete,
                                                                      LabelHtml = MvcHtmlString.Create(game.DisplayOutcome ? game.Outcome : game.GameDate.ToString("t")),
                                                                      Runs = "R",
                                                                      Hits = "H"
                                                                  })
                            </div>
                            <div class="container-fluid game-body">
                                @foreach (var team in game.Teams)
                                {
                                    @Html.Partial("_ScheduleGameRow", new ScheduleGameRowModel
                                                                      {
                                                                          RowClasses = "row" + (team.IsWinner ? " winner" : ""),
                                                                          DisplayScores = game.IsComplete,
                                                                          LabelHtml = Html.Partial("_ScheduleTeamInfo", team),
                                                                          Runs = team.RunsScored,
                                                                          Hits = team.Hits
                                                                      })
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
@section scripts
{
    <script>
        var firstYear = 0 + @Consts.FirstYear;
        var lastYear = 0 + @Consts.CurrentYear;

        $('.calendar-year-nav a').click(function(e) {
            e.stopPropagation();

            var year = $(this).data('year');
            if (year >= firstYear && year <= lastYear) {
                // TODO: get data and update calendar
                //$.ajax
                //#calendarContent
            }
        });
    </script>
}