@model ScheduleModel
@{
    var title = "Schedule for " + Model.Date.ToString(Consts.DateFormat);
    ViewBag.Title = title;
}
<style>
    table.game {
        margin-bottom: 20px;
        border: solid 1px #ddd;
        width: 100%;
    }
    table.game thead {
        background-color: #f8f8f8;
        border-bottom: solid 1px #ddd;
    }
    table.game th {
        padding: 0 5px;
    }
    table.game td {
        padding: 10px 5px;
    }
    table.game tr.winner td {
        font-weight: bold;
    }
</style>
<h2>@title</h2>
@foreach (var conference in Model.ConferenceModels)
{
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @conference.Label Games
            </div>
            <div class="panel-body">
                @foreach (var game in conference.Games)
                {
                    <div class="col-lg-3">
                        <table class="game">
                            <thead>
                                <tr>
                                    <th>@(game.DisplayScores ? game.Outcome : game.GameDate.ToString("t"))</th>
                                    @if (game.IsComplete)
                                    {
                                        <th>R</th>
                                        <th>H</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var team in game.Teams)
                            {
                                <tr class="@(team.IsWinner ? "winner" : "")">
                                    <td>
                                        @Html.TeamLink(team.TeamName, team.TeamId, game.GameDate.Year)
                                        @*<br/>@team.RecordInfo*@
                                    </td>
                                    @if (game.IsComplete)
                                    {
                                        <td>@team.RunsScored</td>
                                        <td>@team.Hits</td>
                                    }
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
}
