@model YearCalendarModel
<div class="panel panel-primary">
    <div class="panel-heading calendar-year-nav">
        <a href="#" class="@(Model.Year > Consts.FirstYear ? "" : "disabled")" data-url="@(Model.Year <= Consts.FirstYear
                                                                                               ? null
                                                                                               : Url.RouteUrl(new
                                                                                                              {
                                                                                                                  action = "YearCalendar",
                                                                                                                  year = Model.Year - 1,
                                                                                                                  activeDate = Model.ActiveDate.ToString(Consts.DateFormat)
                                                                                                              }))"
           role="button"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <span>@Model.Year</span>
        <a href="#" class="@(Model.Year < Consts.CurrentYear ? "" : "disabled")" data-url="@(Model.Year >= Consts.CurrentYear
                                                                                                 ? null
                                                                                                 : Url.RouteUrl(new
                                                                                                                {
                                                                                                                    action = "YearCalendar",
                                                                                                                    year = Model.Year + 1,
                                                                                                                    activeDate = Model.ActiveDate.ToString(Consts.DateFormat)
                                                                                                                }))"
           role="button"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <div class="panel-body container">
        <div class="row">
            @foreach (var monthModel in Model.Months)
            {
                <div class="col-lg-3 col-md-6 col-sm-6 grid4221 calendar-month">
                    <div class="panel panel-primary">
                        <div class="panel-heading">@monthModel.MonthName</div>
                        <table class="table table-month">
                            <thead>
                                <tr>
                                    <th>Su</th>
                                    <th>Mo</th>
                                    <th>Tu</th>
                                    <th>We</th>
                                    <th>Th</th>
                                    <th>Fr</th>
                                    <th>Sa</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var week in monthModel.Weeks)
                                {
                                    <tr>
                                        @foreach (var dayModel in week)
                                        {
                                            if (dayModel.HasGames)
                                            {
                                                if (dayModel.Date == Model.ActiveDate)
                                                {
                                                    <td class="active">@dayModel.Day</td>
                                                }
                                                else
                                                {
                                                    <td class="calendar-games">
                                                        @Html.RouteLink(dayModel.Day.ToString(),
                                                                        new
                                                                        {
                                                                            action = "Schedule",
                                                                            date = dayModel.Date.ToString(Consts.DateFormat)
                                                                        },
                                                                        null)
                                                    </td>
                                                }
                                            }
                                            else
                                            {
                                                <td class="calendar-no-games">@dayModel.Day.ToString("#;;''")</td>
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
</div>