@model TeamStatisticsPageModel
@{
    var title = $"Statistics - {Model.Team.TeamName}";
    ViewBag.Title = title + Model.Year.AsTitleSuffix();
}
@Html.Partial("_YearsPartial", Model.Year)
<h2>@title</h2>
@Html.Partial("_StatsTable", "statsTable")
@section scripts
{
    <script>
        $(function () {
            statstable_RenderTeamStats('@(Model.Team.TeamId + "/" + Model.Year.AsRouteParameter())', '@Model.SortColumn');
        });
    </script>
}
