@model GameStatisticsModel
@{
    var title = "Statistics - " + Model.GameDate.ToString(Consts.DateFormatDisplay);
    ViewBag.Title = title + " - " + Model.RoadTeam.TeamName + " vs. " + Model.HomeTeam.TeamName;
}
<h2>@title</h2>
@Html.DisplayFor(m => m.RoadTeam)
@Html.DisplayFor(m => m.HomeTeam)
@section scripts
{
    <script>
        $(function() {
            statstable_RenderGameStats('#statsTableRoad', @Model.RoadTeam.GameParticipantId);
            statstable_RenderGameStats('#statsTableHome', @Model.HomeTeam.GameParticipantId);
        });
    </script>
}
