@model StatisticsFilterModel
@{
    const string title = "Statistics";
    ViewBag.Title = title;
}
<h2>@title</h2>
<form id="filter">
    @Html.HiddenFor(m => m.GameId)
    @Html.HiddenFor(m => m.TeamId)
    @Html.HiddenFor(m => m.PlayerId)
    @Html.HiddenFor(m => m.Year)
</form>
<table id="statsTable" class="table table-bordered table-condensed table-striped stats-table">
    <thead>
        <tr class="info">
            @foreach (var columnHeader in Model.ColumnHeaders)
            {
                <th>@columnHeader</th>
            }
        </tr>
    </thead>
</table>
@section scripts
{
    <script>
        $(function() {
            //var data = $('#filter').serializeObject();

            $('#statsTable').dataTable({
                'processing': true,
                'serverSide': true,
                'ajax': {
                    'url': '/Statistics/Data',
                    'type': 'POST',
                    'dataSrc': ''
                }
            });
        });
    </script>
}