@model StateEditModel
@{
    var stateSelectList = new SelectList(new[] { new SelectListItem() }.Concat(Model.States.Select(s => new SelectListItem { Value = s.StateId.ToString(), Text = s.Name })), "Value", "Text", Model);
}
<div class="form-group">
    @Html.LabelForModel(new { @class = "control-label col-sm-2" })
    <div class="col-sm-10">
        @if (ViewBag.IsReadonly ?? false)
        {
            @Html.HiddenFor(m => m.StateId)
            <p class="form-control-static">@Model.StateName</p>
        }
        else
        {
            @Html.DropDownListFor(m => m.StateId, stateSelectList, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.StateId)
        }
    </div>
</div>
