@model StateEditModel
<div class="form-group">
    @Html.LabelForModel(new { @class = "control-label col-sm-2" })
    <div class="col-sm-10">
        @if (ViewBag.IsReadonly ?? false)
        {
            @Html.HiddenFor(m => m.StateId)
            <p class="form-control-static">@Model.StateName</p>
        }
        else
        {
            @Html.DropDownListFor(m => m.StateId, Model.ToSelectList(), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.StateId)
        }
    </div>
</div>
