@model StatisticsEditStatLineModel
<tr>
    <td>
        <input type="hidden" name="StatLines.index" />
        @Html.HiddenFor(m => m.StatLineId)
        @Html.HiddenFor(m => m.BattingOrderPosition)
        @Html.Partial("_RowNav")
    </td>
    @Html.EditorFor(m => m.Player)
    @Html.EditorFor(m => m.StatSingles)
    @Html.EditorFor(m => m.StatDoubles)
    @Html.EditorFor(m => m.StatTriples)
    @Html.EditorFor(m => m.StatHomeRuns)
    @Html.EditorFor(m => m.StatWalks)
    @Html.EditorFor(m => m.StatSacrificeFlies)
    @Html.EditorFor(m => m.StatOuts)
    @Html.EditorFor(m => m.StatFieldersChoices)
    @Html.EditorFor(m => m.StatReachedByErrors)
    @Html.EditorFor(m => m.StatStrikeouts)
    @Html.EditorFor(m => m.StatRuns)
    @Html.EditorFor(m => m.StatRunsBattedIn)
</tr>
