@model StatisticsEditStatLineModel
<tr>
    @Html.Partial("_RowNav")
    @Html.EditorFor(m => m.Player)
    @Html.EditorFor(m => m.StatSingles)
    @Html.EditorFor(m => m.StatDoubles)
    @Html.EditorFor(m => m.StatTriples)
    @Html.EditorFor(m => m.StatHomeRuns)
    @Html.EditorFor(m => m.StatWalks)
    @Html.EditorFor(m => m.StatSacrificeFlies)
    @Html.EditorFor(m => m.StatOuts)
    @Html.EditorFor(m => m.StatFieldersChoices)
    @Html.EditorFor(m => m.StatReachedByErrors)
    @Html.EditorFor(m => m.StatStrikeouts)
    @Html.EditorFor(m => m.StatRuns)
    @Html.EditorFor(m => m.StatRunsBattedIn)
    <td>
        <input type="hidden" name="StatLines.index" />
        @Html.HiddenFor(m => m.StatLineId)
        @Html.HiddenFor(m => m.BattingOrderPosition)
        <button type="button" class="btn btn-danger btn-remove" title="Remove row"><span class="glyphicon glyphicon-remove"></span></button>
    </td>
</tr>
