@model UserEditModel
@{
    var title = "Manage User " + Model.UserName;
    ViewBag.Title = title;
}
<div class="well">
    @using (Html.BeginForm("Edit", "User", FormMethod.Post, new {@class = "form-horizontal"}))
    {
        @Html.HiddenFor(m => m.Id)

        <fieldset>
            <legend>@title</legend>
            @Html.EditorFor(m => m.UserName, new {IsReadonly = true})
            @Html.EditorFor(m => m.Email, new {IsReadonly = true})
            @Html.EditorFor(m => m.FirstName)
            @Html.EditorFor(m => m.LastName)
            @Html.EditorFor(m => m.Roles)
            @Html.EditorFor(m => m.AssignedTeams)
            <div class="form-group">
                @Html.Label("Password", new {@class = "control-label col-sm-2"})
                <div class="col-sm-10">
                    <p id="passwordField" class="form-control-static"><a id="resetPassword"><span class="glyphicon glyphicon-repeat"></span></a>
                    </p>
                </div>
            </div>

            @Html.Partial("_FormCancelSubmit", Model)
        </fieldset>
    }
</div>
@section scripts
{
    <script>
        $('#passwordField').on('click', '#resetPassword', function () {
            $.post('/Admin/User/ResetPassword/@Model.Id',
                function() {
                    $('#passwordField').text('Password Reset!');
                });
        });
    </script>
}
