@model UserEditModel
@{
    const string title = "Manage Users";
    ViewBag.Title = title;
}
<h2>@title</h2>
@Html.Partial("_AdminListTable", new AdminListTableModel { ListItemName = "User" })

@section scripts
{
    <script>
        var columns = [
            { 'data': 'Id',            'title': '@Html.DisplayNameFor(m => m.Id)',            'visible':   false,                           'searchable': false },
            { 'data': 'UserName',      'title': '@Html.DisplayNameFor(m => m.UserName)' },
            { 'data': 'Email',         'title': '@Html.DisplayNameFor(m => m.Email)' },
            { 'data': 'FirstName',     'title': '@Html.DisplayNameFor(m => m.FirstName)' },
            { 'data': 'LastName',      'title': '@Html.DisplayNameFor(m => m.LastName)' },
            { 'data': 'Roles',         'title': '@Html.DisplayNameFor(m => m.Roles)',         'orderable': false, 'render': {'_': 'SelectedRoleNames'} },
            { 'data': 'AssignedTeams', 'title': '@Html.DisplayNameFor(m => m.AssignedTeams)', 'orderable': false, 'render': {'_': 'SelectedTeamNames'} },
            { 'data': 'UrlForEdit',                                                           'orderable': false, 'render': renderEditLink, 'searchable': false }
        ];

        datatable_RenderList({
            'dataUrl': '@Url.Action("Data")',
            'columns': columns,
            'sorting': true,
            'paging': true,
            'searching': true,
            'order': [[findColumnIndex(columns, 'UserName'), 'asc']]
        });
    </script>
}
