@model StatisticsEditModel
@{
    var title = $"Manage Statistics for {Model.TeamName} on {Model.GameDate.ToString(Consts.DateTimeFormatDisplay)}";
    ViewBag.Title = title;

    var columns = new[] {"Order", "Player", "1B", "2B", "3B", "HR", "BB", "Sac", "Outs", "FC", "E", "K", "R", "RBI", ""};
}
<div class="well" style="min-width: 940px;">
    @using (Html.BeginForm("Game", "Statistics", FormMethod.Post, new {@class = "form-horizontal form-with-validation form-grid", data_new_row_url = Model.UrlForNewRow}))
    {
        <fieldset>
            <legend>@title</legend>
            <table class="table table-condensed table-form">
                <thead>
                    <tr>
                        @foreach (var column in columns)
                        {
                            <th>@column</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @Html.EditorFor(m => m.StatLines)
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="@columns.Length">
                            <button type="button" class="btn btn-info btn-add" title="Add another player row"><span class="glyphicon glyphicon-plus"></span> Add Row</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
            @Html.HiddenFor(m => m.UrlForReturn)
            @Html.Partial("_FormCancelSubmit", Model.UrlForReturn)
        </fieldset>
    }
</div>
