@model ChurchListChurchModel
<div class="col-lg-3 col-md-4 col-sm-6 grid4321">
    <div class="church panel panel-default">
        <div class="panel-body">
            <h4>@Model.Name</h4>
            <div class="church-address">
                @Html.DisplayFor(m => m.ContactInfo.Address)
            </div>
        </div>
        <div class="list-group">
            @Html.DisplayFor(m => m.Website, "ListGroupItem")
            @Html.DisplayFor(m => m.ContactInfo.PhoneNumbers, "ListGroupItemList")
            @Html.DisplayFor(m => m.ContactInfo.EmailAddress, "ListGroupItem")
            @Html.DisplayFor(m => m.Information, "ListGroupItem")
        </div>
    </div>
</div>
