@model GameResultsEditCreateReportModel
@{
    ViewBag.LabelWidth = 5;
}
<div class="well col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 row">
    @using (Html.BeginForm("Game", "GameResults", FormMethod.Post, new {id = "NewReportForm", @class = "form-horizontal form-with-validation"}))
    {
        <fieldset>
            <legend>Report Result</legend>
            @if (Model.IsConfirmable)
            {
                <div class="form-group center col-sm-12">
                    <label>@Html.CheckBoxFor(m => m.IsConfirmation) @Html.DisplayNameFor(m => m.IsConfirmation) (@Html.Raw(Model.CurrentResult.Replace(" ", "&nbsp;")))</label>
                </div>
            }
            <div class="confirmable">
                @Html.EditorFor(m => m.GameStatus)
                @Html.EditorFor(m => m.RoadParticipant)
                @Html.EditorFor(m => m.HomeParticipant)
            </div>
            @Html.EditorFor(m => m.Note)
            @Html.HiddenFor(m => m.UrlForReturn)
            @Html.Partial("_FormCancelSubmit", Model.UrlForReturn)
        </fieldset>
    }
</div>
