@model GameResultsEditCreateReportModel
@{ ViewBag.LabelWidth = 5; }
<div class="well col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 row">
    @using (Html.BeginForm("Game", "GameResults", FormMethod.Post, new { @class = "form-horizontal form-with-validation" }))
    {
        <fieldset>
            <legend>Report/Update Results</legend>
            @Html.EditorFor(m => m.GameStatus)
            @Html.EditorFor(m => m.RoadParticipant)
            @Html.EditorFor(m => m.HomeParticipant)
            @Html.EditorFor(m => m.Note)
            @Html.Partial("_FormCancelSubmit", Url.Action("List"))
        </fieldset>
    }
</div>
