@model GameResultsEditCreateReportModel
@{
    ViewBag.LabelWidth = 5;

    var noteOnly = ViewBag.NoteOnly ?? false;
}
<div class="well col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 row">
    @using (Html.BeginForm("Game", "GameResults", FormMethod.Post, new { id = "NewReportForm", @class = "form-horizontal form-with-validation" }))
    {
        <fieldset>
            <legend>Report Result</legend>
            @if (Model.IsConfirmable)
            {
                <div class="form-group center col-sm-12">
                    <label>@Html.CheckBoxFor(m => m.IsConfirmation) @Html.DisplayNameFor(m => m.IsConfirmation) (@Html.Raw(Model.CurrentResult.Replace(" ", "&nbsp;")))</label>
                </div>
            }
            <div class="confirmable">
                @Html.EditorFor(m => m.GameStatus, new { IsReadonly = noteOnly })
                @Html.EditorFor(m => m.RoadParticipant, new { IsReadonly = noteOnly })
                @Html.EditorFor(m => m.HomeParticipant, new { IsReadonly = noteOnly })
            </div>
            @if (noteOnly)
            {
                <div class="form-group center text-danger">* Only Notes can be added to game results that have been confirmed.</div>
            }
            @Html.EditorFor(m => m.Note)
            @if (Model.Team.ItemSelectList.Count() > 1)
            {
                @Html.EditorFor(m => m.Team)
            }
            else
            {
                @Html.HiddenFor(m => m.Team.TeamId)
            }
            @Html.Partial("_FormCancelSubmit", Model)
        </fieldset>
    }
</div>
