@model TeamsListModel
@{
    const string title = "Teams";
    ViewBag.Title = title + Model.Year.AsTitleSuffix();
}
@Html.Partial("_YearPartial")
<h2>@title</h2>
<div class="row">
    @foreach (var divTeamsModel in Model.Divisions)
    {
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    @divTeamsModel.DivisionName Division
                </div>
                <table class="table">
                    @foreach (var teamModel in divTeamsModel.Teams)
                    {
                        <tr>
                            <td>@Html.TeamLink(teamModel.TeamName, teamModel.TeamId, Model.Year)</td>
                            @*<td class="actions-row">
                                <a href="@Url.Action("View", new { teamId = teamModel.TeamId, year = Model.Year })" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Team Page"><span class="glyphicon glyphicon-info-sign"></span></a>
                                <a href="@Url.Action("Stats", new { id = teamModel.TeamId, year = Model.Year })" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Team Stats"><span class="glyphicon glyphicon-stats"></span></a>
                            </td>*@
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
</div>