@model TeamViewModel
@{
    ViewBag.Title = Model.TeamName + Model.Year.AsTitleSuffix();
}
@Html.Partial("_YearPartial")
<h2>@Model.TeamName</h2>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Team Info
            </div>
            <table class="table">
                <tr>
                    <th>Division</th>
                    <td>@Model.DivisionName</td>
                </tr>
                <tr>
                    <th>Church</th>
                    <td>@Html.ActionLink(Model.ChurchName, "Churches", "Church", new {year = Model.Year == Consts.CurrentYear ? (int?)null : (int)Model.Year}, null)</td>
                </tr>
                @if (Model.Year >= 2007)
                {
                    <tr>
                        <th>Coach</th>
                        <td>
                            @Html.DisplayFor(m => m.Coach)
                        </td>
                    </tr>
                }
                @if (Model.Year == Consts.CurrentYear)
                {
                    <tr>
                        <th>Field</th>
                        <td>@Html.Raw(Model.Field)</td>
                    </tr>
                    if (!string.IsNullOrEmpty(Model.Comments))
                    {
                        <tr>
                            <th>Other</th>
                            <td>@Html.Raw(Model.Comments)</td>
                        </tr>
                    }
                }
            </table>
        </div>
        @if (Model.StatsLeaders != null)
        {
            <div class="panel panel-primary">
                <div class="panel-heading">
                    @Html.RouteLink("Stats Leaders", new
                                                     {
                                                         Controller = "Statistics",
                                                         Action = "StatisticsForTeam",
                                                         TeamId = Model.TeamId,
                                                         Year = Model.Year == Consts.CurrentYear ? (int?)null : (int)Model.Year
                                                     }, null)
                </div>
                <table class="table">
                    <tbody>
                    @Html.DisplayFor(m => m.StatsLeaders)
                    </tbody>
                </table>
            </div>
        }
        @if (Model.Year == Consts.CurrentYear && Model.NewsItems.Any())
        {
            <h3>News</h3>
            foreach (var newsItem in Model.NewsItems)
            {
                @Html.DisplayFor(m => newsItem)
            }
        }
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(m => m.Schedule)
    </div>
</div>
