@if (Request.IsAuthenticated)
{
    var userIsCommissioner = User.IsInRole(Tcbcsl.Data.Entities.Roles.LeagueCommissioner);
    var userIsCoach = User.IsInRole(Tcbcsl.Data.Entities.Roles.TeamCoach);

    var myTeamLinks = UserCache.AssignedTeams
                               .SelectMany(kvp => new[]
                                                  {
                                                      Html.RouteLink($"Manage {kvp.Value} Information", new {area = "Admin", controller = "Team", action = "Manage", id = kvp.Key}),
                                                      Html.RouteLink($"Game Results for {kvp.Value}", new {area = "Admin", controller = "GameResults", action = "List", id = kvp.Key})
                                                  })
                               .OrderBy(s => s.ToString());

    var adminAreaLinks = new[]
                         {
                             new {Link = Html.RouteLink("Churches",     new {area = "Admin", controller = "Church",      action = "List"},     null), CommishOnly = true  },
                             new {Link = Html.RouteLink("Coaches",      new {area = "Admin", controller = "Coach",       action = "List"},     null), CommishOnly = true  },
                             new {Link = Html.RouteLink("Game Results", new {area = "Admin", controller = "GameResults", action = "Default"},  null), CommishOnly = true  },
                             new {Link = new MvcHtmlString("<a href=\"/Admin/Log\">Log</a>"),                                                         CommishOnly = true  },
                             new {Link = Html.RouteLink("News",         new {area = "Admin", controller = "News",        action = "List"},     null), CommishOnly = false },
                             new {Link = Html.RouteLink("Page Content", new {area = "Admin", controller = "ContentItem", action = "List"},     null), CommishOnly = true  },
                             new {Link = Html.RouteLink("Players",      new {area = "Admin", controller = "Player",      action = "List"},     null), CommishOnly = false },
                             new {Link = Html.RouteLink("Player Pool",  new {area = "Admin", controller = "Player",      action = "PoolList"}, null), CommishOnly = false },
                             new {Link = Html.RouteLink("Schedule",     new {area = "Admin", controller = "Schedule",    action = "Schedule"}, null), CommishOnly = true  },
                             new {Link = Html.RouteLink("Teams",        new {area = "Admin", controller = "Team",        action = "List"},     null), CommishOnly = true  },
                             new {Link = Html.RouteLink("Users",        new {area = "Admin", controller = "User",        action = "List"},     null), CommishOnly = true  }
                         };

    <li class="dropdown @(userIsCoach ? "" : "visible-sm")">
        @Html.Partial("_NavDropdownToggle", "Admin")
        <ul class="dropdown-menu">
            <li>@Html.RouteLink("Account", new {area = "", controller = "Manage", action = "Index"}, new {@class = "visible-sm"})</li>
            @if (userIsCoach)
            {
                foreach (var myTeamLink in myTeamLinks)
                {
                    <li>@myTeamLink</li>
                }
                foreach (var adminAreaLink in adminAreaLinks.Where(adminAreaLink => userIsCommissioner || !adminAreaLink.CommishOnly))
                {
                    <li>@adminAreaLink.Link</li>
                }
            }
        </ul>
    </li>
}
