<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.RouteLink("TCBCSL", new {area = "", controller = "Home", action = "Index"}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    @Html.RouteLink("Schedule", new {area = "", controller = "Schedule", action = "Schedule", date = (DateTime?)null}, null)
                </li>
                <li class="dropdown">
                    @Html.Partial("_NavDropdownToggle", "Standings")
                    @{ var dict = new RouteValueDictionary(new {area = "", controller = "Standings", action = "Standings", year = (int?)null}); }
                    <ul class="dropdown-menu">
                        <li>
                            @{ dict["type"] = StandingsType.Division; }
                            @Html.RouteLink("Division", dict)
                        </li>
                        <li>
                            @{ dict["type"] = StandingsType.League; }
                            @Html.RouteLink("League", dict)
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    @Html.Partial("_NavDropdownToggle", "Statistics")
                    <ul class="dropdown-menu">
                        <li>
                            @Html.RouteLink("Individual", new {area = "", controller = "Statistics", action = "StatisticsForLeagueIndividual", year = (YearEnum?)null}, null)
                        </li>
                        <li>
                            @Html.RouteLink("Teams", new {area = "", controller = "Statistics", action = "StatisticsForLeagueTeam", year = (YearEnum?)null}, null)
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    @Html.Partial("_NavDropdownToggle", "Members")
                    <ul class="dropdown-menu">
                        <li>@Html.RouteLink("Churches", new {area = "", controller = "Church", action = "Churches", year = (int?)null}, null)</li>
                        <li>@Html.RouteLink("Coaches", new {area = "", controller = "Coach", action = "Coaches", year = (int?)null}, null)</li>
                        <li>@Html.RouteLink("Teams", new {area = "", controller = "Team", action = "Teams", year = (int?)null}, null)</li>
                    </ul>
                </li>
                <li class="dropdown">
                    @Html.Partial("_NavDropdownToggle", "Rules")
                    <ul class="dropdown-menu">
                        <li>@Html.RouteLink("League Rules", new {area = "", controller = "ContentItem", action = "PageContent", tag = "LeagueRules"}, null)</li>
                        <li>@Html.RouteLink("Umpire Guidelines", new {area = "", controller = "ContentItem", action = "PageContent", tag = "UmpireGuidelines"}, null)</li>
                        <li>@Html.RouteLink("Tournament Rules", new {area = "", controller = "ContentItem", action = "PageContent", tag = "TournamentRules"}, null)</li>
                    </ul>
                </li>
                @if (Request.IsAuthenticated)
                {
                    <li class="dropdown">
                        @Html.Partial("_NavDropdownToggle", "Admin")
                        <ul class="dropdown-menu">
                            <li>@Html.RouteLink("Account", new { area = "", controller = "Manage", action = "Index" }, new { @class = "visible-sm" })</li>
                            <li>@Html.RouteLink("News", new { area = "Admin", controller = "News", action = "List" }, null)</li>
                            <li>@Html.RouteLink("Page Content", new { area = "Admin", controller = "ContentItem", action = "List" }, null)</li>
                            <li>@Html.RouteLink("Users", new { area = "Admin", controller = "User", action = "List" }, null)</li>
                        </ul>
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
